/* CSS Document */
body {
	background-attachment: fixed;
	background-color: #FFFFFF;
	background-image: url(fondo.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.texto1 {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 18px;
	font-weight: bold;
}

.enlace {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 18px;
	font-weight: bold;
	color: #d42e12;
}

.enlace:hover {
	color: #666666;
}
